
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="mx-3">
                    Welcome!
                </h2>
                <div class="card-body">
                    <form method="post" asp-action="Login" asp-controller="Auth">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email . . ." required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password . . ." required>
                        </div>
                        <div class="d-flex">
                            <p>Create an account? </p><a href="/Auth/Signup" class="text-primary">Signup</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>